<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Guest Checkout | Splurket Pay</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap" rel="stylesheet"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css'><link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@2.4.11/dist/vuetify.min.css">

</head>
<style>
.flex.justify-space-between {
  justify-content: space-between;
}
.v-dialog{
	height:100%;
}
.column{
	height:450px !important;
}
*{
	all:none;
}
.shipping{
	min-width:348px;
}
.v-application--wrap {
    flex: 1 1 auto;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    min-height: 0px !important;
    max-width: 100%;
    position: relative;
}
</style>
<body>
<!-- partial:index.partial.html -->
<article class="card" id="info">
	<div class="container">
		<div class="card-title">
			<center><h2>Guest Checkout</h2></center>
		</div>
		<div style="display:none;background-color: red;color:white" id="errormess">
			<center><h3 style="padding:20px">Please Fill All Fields!</h3></center>
		</div>
			<div class="payment-info flex justify-space-between">
				<div class="column billing">
					<div class="title">
						<div class="num">Step 1</div>
						<h4>Guest Info</h4>
					</div>
					<div class="field full">
						<label for="name">Full Name</label>
						<input id="name" type="text" placeholder="Full Name" onkeyup="document.getElementById('cardholder').value=this.value" onblur="document.getElementById('cardholder').value=this.value">
					</div>
					<div class="field full">
						<label for="email">Email</label>
						<input id="email" type="text" placeholder="Email">
					</div>
				</div>
				<div class="column shipping">
					<div class="title" style="">
						<div class="num">Step 2</div>
						<h4>Card Info</h4>
					</div>
					<div class="field full">
						<label for="name">Cardholder Name</label>
						<input type="text" placeholder="Full Name" id="cardholder">
					</div>
					<div class="field full">
						<label for="address">Card Number</label>
						<input id="number" type="text" placeholder="1234567890123456" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" maxlength="16">
					</div>
					<div class="flex justify-space-between">
						<div class="field half">
							<label for="city">Exp. Month</label>
							<input id="month" type="text" placeholder="12" maxlength="2" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
						</div>
						<div class="field half">
							<label for="state">Exp. Year</label>
							<input id="year" type="text" placeholder="23" maxlength="2" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
						</div>
					</div>
					<div class="field full">
						<label for="zip">CVC Number</label>
						<input id="cvc" type="text" placeholder="468" maxlength="4" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
					</div>
				</div>
			</div>
		</div>
		<center><div class="card-actions flex justify-space-between">
			<div class="flex-start">
				<button class="button button-secondary">Return to Store</button>
			</div>
			<div class="flex-end">
				<button class="button button-link">Back</button>
				<button class="button button-primary" onclick="proceed()">Proceed</button>
			</div>
		</div></center>
	</div>
</article>
<article class="card"  id="summary" style="display: none">
	<div class="container">
		<div class="card-title">
			<center><h1>Order Summary</h1></center>
		</div>
			<div class="payment-info flex justify-space-between" style="height:200px;margin-top:200px">
				<div class="column billing">
					<div class="title">
						<h4>Guest Info</h4>
					</div>
					<div class="field full">
						<label for="name">Full Name</label>
						<h3 id="sum_name">Dylan Clayton</h3>
					</div>
					<div class="field full">
						<label for="email">Email</label>
						<h3 id="sum_email">Splurket@gmail.com</h3>
					</div>
				</div>
				<div class="column shipping">
					<div class="title" style="">
						<h4>Card Info</h4>
					</div>
					<div class="field full">
						<label for="name">Cardholder Name</label>
						<h3 id="sum_cardholder">Dylan Clayton</h3>
					</div>
					<div class="field full">
						<label for="address">Card Number</label>
						<h3 id="sum_number">4123 4321 7649 4674</h3>
					</div>
					<div class="flex justify-space-between">
						<div class="field half">
							<label for="city">Exp. Month</label>
							<h3 id="sum_month">07</h3>
						</div>
						<div class="field half">
							<label for="state">Exp. Year</label>
							<h3 id="sum_year">2085</h3>
						</div>
					</div>
					<div class="field full">
						<label for="zip">CVC Number</label>
						<h3 id="sum_cvc">345</h3>
					</div>
				</div>
			</div>
			    <div id="app" style="width:100%">
  <v-app id="inspire" style="min-width:50%">
  <main id="main" style="margin-left:10%">
    <div class="container">
<template>
  <v-data-table
    :headers="headers"
    :items="desserts"
    class="elevation-1"
     :items-per-page="-1"
     :hide-default-footer="true"
    mobile-breakpoint="0"


  >


    <template v-slot:top>
          <v-dialog
        v-model="dialog2"
        max-width="500px"
      >
        <v-card>
          <v-card-title>
            Delete All Items?
          </v-card-title>
          <v-card-text>
            <v-btn
            id="clearcart"
              color="primary"
              dark
              style="background-color: #52b36c !important"
              onclick="localStorage.removeItem('cart'); location.reload()"
            >
              Yes Clear All items
            </v-btn>
          </v-card-text>
          <v-card-actions>
            <v-btn
              color="primary"
              text
              @click="dialog2 = false"
            >
              No, Get Me Out Of Here!
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
        <v-dialog v-model="dialogDelete" max-width="500px" style="word-break: break-word;">
          <v-card>
            <center><v-card-title class="headline" style="word-wrap: break-word;word-break: break-word">Are You Sure You Want To Delete This Item?</v-card-title></center>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="closeDelete">Cancel</v-btn>
              <v-btn color="blue darken-1" id="desserts" text @click="deleteItemConfirm" onclick="removeFromCart()">OK</v-btn>
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-toolbar>
  </template>

    <template v-slot:item.name="{ item }">
      <td
      :id="item.id"
      class="subheading"
      onclick="window.top.location.href='https://splurket.com/pages/product?product='+this.id"
      >{{item.name}}</td>
    </template>
    <template v-slot:item.image="{ item }">
      <td
      :id="item.id"
      onclick="window.top.location.href='https://splurket.com/pages/product?product='+this.id"
      ><img :src="item.image" style="width:50px;max-height:60px"></td>
    </template>
    <template v-slot:no-data>
        <h1>No Items Found In Cart</h1><br>
        <center><v-btn type="button" class="btn btn-primary" style="margin-top:15px;background-color: #52b36c;border-color: #52b36c;color:white" onclick="window.location.href ='https://splurket.com/pages/marketplace'"value="Start Shopping">Start Shopping!</v-btn></center><br>
    </template>
  </v-data-table>
</template>
</div>
</main>
</v-app>
</div>
		</div>
		<center><div class="card-actions flex justify-space-between">
			<div class="flex-start">
				<button class="button button-secondary">Return to Store</button>
			</div>
			<div class="flex-end">
				<button class="button button-link" onclick="back()">Back</button>
				<button class="button button-primary" onclick="proceed()">Pay <span id="total"></span></button>
			</div>
		</div></center>
	</div>
</article>
<!-- partial -->
  <script src='https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js'></script>
  <script src='https://cdn.jsdelivr.net/npm/vuetify@2.4.11/dist/vuetify.min.js'></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
function proceed(){
year = document.getElementById('year').value
month = document.getElementById('month').value
cvc = document.getElementById('cvc').value
number = document.getElementById('number').value
cardholder = document.getElementById('cardholder').value
email = document.getElementById('email').value
name = document.getElementById('name').value
if(year == "" || month == "" || cvc == "" || number == "" || cardholder == "" || email == "" || name == ""){
	document.getElementById('errormess').style.display = "block"
}else if(year != "" && month != "" && cvc != "" && number != "" && cardholder != "" && email != "" && name != ""){
	document.getElementById('errormess').style.display = "none"
document.getElementById('sum_year').innerHTML=year
document.getElementById('sum_month').innerHTML=month
document.getElementById('sum_cvc').innerHTML=cvc
document.getElementById('sum_number').innerHTML=number
document.getElementById('sum_cardholder').innerHTML=cardholder
document.getElementById('sum_email').innerHTML=email
document.getElementById('sum_name').innerHTML=name
document.getElementById('info').style.display ="none"
document.getElementById('summary').style.display ="block"
}
}
function back(){
document.getElementById('info').style.display ="block"
document.getElementById('summary').style.display ="none"
}



    var idd;
  cart=getCart();

  populateCart();
  
var hello=getCart();
const items=[];
console.log(Object.keys(hello).length)
  for(var item in hello) {
    console.log(item)
    var cartItem = hello[item];
      var dollars = JSON.stringify(cartItem.data.price);
      var dollars1 = dollars.replace(/["']/g, "")
      var str = dollars1;
      var resStr=str.substring(0,str.length-2)+"."+str.substring(str.length-2);
      pricethat = '$'+resStr;
    pushdata= {value: false, id: `${cartItem.data.id}`, name: `${cartItem.data.description}`, quantity: `${cartItem.quantity}`, price: pricethat, image: `${cartItem.data.image}`}
    items.push(pushdata)
    console.log(Object.keys(hello[item]).length)

    //console.log(cartItem.data.id);
  }
  function populateCart(){

    var cartBody = document.querySelector("#cart > tbody");
    var cart = getCart();
    Crtitems = (JSON.stringify(Object.keys(cart).length))
    // update total
    var totalEl = document.getElementById("total");
    var total = Object.keys(cart).reduce((prev, curr) => {

      var q = cart[curr].quantity;
      var p = cart[curr].data.price;
      return prev + (q*p);
    }, 0);

    totalDollars = total / 100;
    console.log(totalDollars)
    totalDollars1 = totalDollars.toFixed(2)
    app.total = `$${totalDollars1}`;
    

    // remove all cart items
    /*while (cartBody.firstChild) {
      cartBody.removeChild(cartBody.firstChild);
    }*/

    // add cart items back
    /*for (var item in cart) {
      var cart = getCart();
      var cartItem = cart[item];
      var tr = document.createElement("tr");
      var desc = document.createElement("td");
      desc.innerHTML = cartItem.data.description;
      tr.appendChild(desc);

      var quantity = document.createElement("td");
      quantity.innerHTML = cartItem.quantity;
      tr.appendChild(quantity);

      var price = document.createElement("td");
      var dollars = JSON.stringify(cartItem.data.price);
      var dollars1 = dollars.replace(/["']/g, "")
      var str = dollars1;
      var resStr=str.substring(0,str.length-2)+"."+str.substring(str.length-2);

      price.innerHTML = '$'+resStr;
      tr.appendChild(price);


      var size1 = JSON.stringify(cartItem.data.size);
      if(typeof size1 !== "undefined") {
        var size = document.createElement("td");
        var size2 = size1.replace(/["']/g, "")
        var str1 = size2;
        var resStr1=str1.substring(0,str1.length-2)+str1.substring(str1.length-2);

        size.innerHTML = resStr1;
        tr.appendChild(size);
    }

      var color1 = JSON.stringify(cartItem.data.color);
      if(typeof color1 !== "undefined") {
        var color = document.createElement("td");
        var color2 = color1.replace(/["']/g, "")
        var str2 = color2;
        var resStr2=str2.substring(0,str2.length-2)+str2.substring(str2.length-2);

        color.innerHTML = resStr2;
        tr.appendChild(color);
    }
    var size1 = JSON.stringify(cartItem.data.size);
      if(typeof size1 == "undefined") {
        var size = document.createElement("td");
        tr.appendChild(size);
    }
      if(typeof color1 == "undefined") {
        var color = document.createElement("td");
        tr.appendChild(color);
    }
      var rem = document.createElement("td");
      var but = document.createElement("button");

      }
      but.addEventListener("click", removeListener(item));
      but.innerHTML = 'X';
      but.style ="background-color: #52b36c; color: white; border-color:white;"
      rem.appendChild(but);
      tr.appendChild(rem);

      cartBody.appendChild(tr);
    }
  }*/
}

  function addToCart(data) {
    var cart = getCart()
    var prevQuantity = cart[data.id] ? cart[data.id].quantity: 0;
    cart[data.id] = {
      quantity: prevQuantity + 1,
      data,

    }
    data1 = data.price.replace("$","")
    data2 = data1.replace(".","")
    data.price = data2;
    localStorage.setItem('cart', JSON.stringify(cart));
    
    populateCart();
  }

  function removeFromCart(id) {
    id=idd
    var cart = getCart();
    if (!cart[id]) {
      console.error(`${id} not found in cart`);
      return;
    }

    var prevQuantity = cart[id].quantity;
    if (prevQuantity === 1) {
      // remove item if will go to 0
      delete cart[id];
    } else {
      cart[id].quantity = prevQuantity - 1;
    }

    localStorage.setItem('cart', JSON.stringify(cart));

    window.location.reload()
  }

  function getCart() {
    return JSON.parse(localStorage.getItem('cart')) || {};
  }

  window.addEventListener("storage", function(e) {
    populateCart();
  })
  app = new Vue({
  el: '#app',
  vuetify: new Vuetify(),
    data: () => ({
     dialog2: false,
      dialog: false,
      dialogDelete: false,
      total:0,
      headers: [
      { text: '', align: 'start', sortable: false, value: 'image'},
        { text: 'Items', align: 'start', sortable: false, value: 'name'},
        { text: 'Quantity', value: 'quantity' },
        { text: 'Price', value: 'price' },
        { text: '', value: 'actions', sortable: false },
      ],
      desserts: items,
      editedIndex: -1,
      editedItem: {
        name: '',
        calories: 0,
        fat: 0,
        carbs: 0,
        protein: 0,
      },
      defaultItem: {
        name: '',
        calories: 0,
        fat: 0,
        carbs: 0,
        protein: 0,
      },
    }),

    computed: {
      formTitle () {
        return this.editedIndex === -1 ? 'New Item' : 'Edit Item'
      },
    },

    watch: {
      dialog (val) {
        val || this.close()
      },
      dialogDelete (val) {
        val || this.closeDelete()
      },
    },

    created () {
      this.initialize()
    },

    methods: {
      initialize () {
        this.desserts = items
      },

      editItem (item) {
        this.editedIndex = this.desserts.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialog = true
      },

      deleteItem (item, id) {
        this.editedIndex = this.desserts.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialogDelete = true
        idd=id
      },

      deleteItemConfirm () {
        this.desserts.splice(this.editedIndex, 1)
        this.closeDelete()

      },

      close () {
        this.dialog = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      },

      closeDelete () {
        this.dialogDelete = false
      },

      save () {
        if (this.editedIndex > -1) {
          Object.assign(this.desserts[this.editedIndex], this.editedItem)
        } else {
          this.desserts.push(this.editedItem)
        }
        this.close()
      },
    },
  })

</script>

</body>
</html>
